div.normal {
    background: linear-gradient(220deg, rgba(203, 152, 167, 1.0) 0%, rgba(116, 81, 91, 1.0) 100%);
}

div.grass {
    background: linear-gradient(220deg, #38f166 0%, #35af54 100%);
}

div.fire {
    background: linear-gradient(220deg, rgba(247, 127, 0, 1.0) 0%, rgba(214, 40, 40, 1.0) 100%);
}

div.water {
    background: linear-gradient(220deg, rgba(134, 168, 252, 1.0) 0%, rgba(21, 82, 226, 1.0) 100%);

}

div.electric {
    background: linear-gradient(220deg, rgb(255 169 0) 0%, rgb(239 220 32) 100%);
}

div.ice {
    background: linear-gradient(220deg, rgb(115 219 241) 0%, rgba(144, 224, 239, 1.0) 100%);
}

div.ground {
    background: linear-gradient(220deg, rgba(169, 112, 44, 1.0) 0%, rgba(110, 73, 31, 1.0) 100%);
}

div.flying {
    background: linear-gradient(220deg, rgba(193, 138, 255, 1.0) 0%, rgba(233, 69, 255, 1.0) 100%);
}

div.poison {
    background: linear-gradient(220deg, rgba(178, 115, 255, 1.0) 0%, rgba(94, 45, 136, 1.0) 100%);
}

div.fighting {
    background: linear-gradient(220deg, rgba(239, 97, 56, 1.0) 0%, rgba(153, 64, 37, 1.0) 100%);
}

div.psychic {
    background: linear-gradient(220deg, rgba(248, 28, 145, 1.0) 0%, rgba(163, 43, 108, 1.0) 100%);
}

div.dark {
    background: linear-gradient(220deg, rgba(90, 89, 121, 1.0) 0%, rgba(4, 7, 6, 1.0) 100%);
}

div.rock {
    background: linear-gradient(220deg, rgba(139, 62, 33, 1.0) 0%, rgba(72, 24, 11, 1.0) 100%);
}

div.bug {
    background: linear-gradient(220deg, rgba(59, 153, 80, 1.0) 0%, rgba(28, 75, 39, 1.0) 100%);
}

div.ghost {
    background: linear-gradient(220deg, #615795 0%, #2b2736 100%);
}

div.steel {
    background: linear-gradient(220deg, rgb(222 227 227) 0%, rgb(108 108 108) 100%);
    ;
}

div.dragon {
    background: linear-gradient(220deg, #301c57 0%, #575f9d 100%);
}

div.fairy {
    background: linear-gradient(220deg, rgba(234, 19, 105, 1.0) 0%, rgba(149, 26, 68, 1.0) 100%);
}



li.normal, 
button.normal {
    background-color: rgb(172 138 148);
    border: 2px solid  rgb(172 138 148);
}

li.grass, 
button.grass {
    background-color: rgba(55, 163, 5, 1.0);
    border: 2px solid  rgba(55, 163, 5, 1.0);
}

li.fire, 
button.fire {
    background-color: rgba(238, 127, 48, 1.0);
    border: 2px solid  rgba(238, 127, 48, 1.0);
}

li.water, 
button.water {
    background-color: rgba(103, 143, 238, 1.0);
    border: 2px solid  rgba(103, 143, 238, 1.0);
}

li.electric, 
button.electric {
    background-color: rgb(209 170 11);
    border: 2px solid  rgb(209 170 11);
}

li.ice, 
button.ice {
    background-color: rgb(91 144 195);
    border: 2px solid  rgb(91 144 195);
}

li.ground, 
button.ground {
    background-color: rgb(149 121 48);
    border: 2px solid  rgb(149 121 48);
}

li.flying, 
button.flying {
    background-color: rgb(123 74 255);
    border: 2px solid  rgb(123 74 255);
}

li.poison, 
button.poison {
    background-color: rgb(153 109 197);
    border: 2px solid  rgb(153 109 197);
}

li.fighting, 
button.fighting {
    background-color: rgb(202 113 87);
    border: 2px solid  rgb(202 113 87);
}

li.psychic, 
button.psychic {
    background-color: rgb(217 79 153);
    border: 2px solid  rgb(217 79 153);
}

li.dark, 
button.dark {
    background-color: rgba(114, 88, 71, 1.0);
    border: 2px solid  rgba(114, 88, 71, 1.0);
}

li.rock, 
button.rock {
    background-color: rgba(184, 161, 55, 1.0);
    border: 2px solid  rgba(184, 161, 55, 1.0);
}

li.bug, 
button.bug {
    background-color: rgb(85 142 98);
    border: 2px solid  rgb(85 142 98);
}

li.ghost, 
button.ghost {
    background-color: rgba(110, 88, 150, 1.0);
    border: 2px solid  rgba(110, 88, 150, 1.0);
}

li.steel, 
button.steel {
    background-color: rgb(185, 181, 181);
    border: 2px solid  rgb(185, 181, 181);
}

li.dragon, 
button.dragon {
    background-color: #7760e2;
    border: 2px solid  #7760e2;
}

li.fairy, 
button.fairy {
    background-color: rgb(237 91 147);
    border: 2px solid  rgb(237 91 147);
    border: 2px solid rgb(237 91 147);
}

button.all {
    background-color: var(--grey);
}


