#loader {
    font-size: 1.2rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

#loader .balls {
    margin-top: -1em;
}

.balls div {
    display: inline-block;
    background-color: #000000;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: animatedBalls;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

.balls div:nth-child(1) {
    animation-duration: 0.75s;
    animation-delay: 0;
}

.balls div:nth-child(2) {
    animation-duration: 0.75s;
    animation-delay: 0.12s;
}

.balls div:nth-child(3) {
    animation-duration: 0.75s;
    animation-delay: 0.24s;
}

@keyframes animatedBalls {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    16% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7;
    }

    33% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

#loader img {
    max-width: 5em;
    margin-top: 1em;
}


.animate-bottom {
    position: relative;
    animation-name: animatebottom;
    animation-duration: 1s;
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

#divBottom {
    display: none;
}