@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.pokedexView {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.pokemon-card-container {
    margin: 0.7em auto;
    width: 100%;
    animation: fadeIn 1s .2s ease forwards;
    opacity: 0;
}

.pokemon-card {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    margin: 0.3em;
    padding: 1rem;
    border-radius: 1em;
    color: var(--white);
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
}

.pokemon-card::after {
    animation: none;
}

.pokemon-card .number {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: -1.5em;
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.315);
}

.pokemon-card h2.name {
    text-transform: capitalize;
    margin-bottom: .25rem;
    margin-left: 0.2em;
    font-size: clamp(1em, 1.3em, 2em);
    color: var(--white);
    text-shadow: 0px 4px 5px rgba(66, 64, 64, 0.5);
}

.pokemon-card .details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.pokemon-card .types {
    padding: 0;
    margin: 0;
    margin-left: 0.5em;
    list-style: none;
}

.pokemon-card .types .type {
    margin: .5rem 0;
    padding: .25rem 1.3rem;
    border-radius: 10rem;
    text-align: center;
    color: var(--white);
    text-shadow: 0px 2px 7px rgb(66, 64, 64, 0.5),
        0 2px 5px rgba(61, 60, 60, 0.719);
    font-size: 1rem;
    text-transform: capitalize;
    filter: brightness(1.1);
}

.pokemon-card .details img {
    max-width: 100%;
    height: 120px;
    margin-top: -1em;
    z-index: 2;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.445));
}