:root {
    --red: #e95551;
    --grey: #444;
    --white: #f8f4f4;
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    user-select: none;
}

html {
    line-height: normal;
}

body {
    background-image: linear-gradient(0deg, #ffffff99, #ffffff99), url(https://major2571.github.io/PokedexJS/assets/img/pokemons-bg.jpg);

}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: rgba(187, 187, 187, 0.281);
}

body::-webkit-scrollbar-thumb {
    background-color: #7c7b7b62;
    border-radius: 10px;
}

.content {
    padding: 1rem;
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    z-index: -1;
}

.title h1 img {
    width: 0.75em;
    filter: drop-shadow(0px 7px 2px rgba(66, 64, 64, 0.35));
}

.title h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(3em, 3.3em, 4.5em);
    letter-spacing: 1px;
    color: var(--grey);
    text-shadow: 0px 4px 3px rgba(66, 64, 64, 0.35);
    margin-top: 7vh;
}

.title h1::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 3.5em;
    height: 6px;
    background-color: var(--red);
    top: 1.4em;
}

.loadMore {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.loadMore button {
    cursor: pointer;
    padding: 0.7em 2.5em;
    font-size: 1.25em;
    border-radius: 3em;
    border: 3px solid var(--grey);
    color: var(--grey);
    background: linear-gradient(120deg, #ffffff5c,
            #ffffff5c, var(--red), var(--red));
    background-size: 300% 150%;
    transition: all .5s;
}

.loadMore button:hover {
    transition: all 0.3s;
    color: var(--white);
    background-position: 100% 100%;

}

#toTopButton {
    display: none;
    position: fixed;
    bottom: 3.5vh;
    right: 3.5vh;
    z-index: 10;
    outline: none;
    border: 3px solid var(--grey);
    background-color: rgba(255, 255, 255, 0.233);
    cursor: pointer;
    border-radius: 100%;
    width: 6vh;
    height: 6vh;
    filter: drop-shadow(1px 1px 3px rgba(134, 134, 134, 0.644));
}

#toTopButton img {
    width: 100%;
    align-items: center;
}

#toTopButton:hover {
    transition: all .3s ease;
    background-color: var(--red);
}

#toTopButton img:hover {
    transition: all .3s ease;
    filter: brightness(10);
}


footer {
    height: 3em;
}

