* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    user-select: none;
}

html {
    line-height: normal;
}

body {
    background-image: linear-gradient(0deg, #ffffff99, #ffffff99), url(https://major2571.github.io/PokedexJS/assets/img/pokemons-bg.jpg);
    
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: rgba(187, 187, 187, 0.281);
}

body::-webkit-scrollbar-thumb {
    background-color: #7c7b7b62;
    border-radius: 10px;
}

.content {
    padding: 1rem;
    width: 100%;
    height: 100%;
    margin: auto;
}

.content h1 img {
    width: 0.75em;
    filter: drop-shadow(0px 7px 2px rgba(66, 64, 64, 0.445));
}

.content h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(3em, 3.3em, 4.5em);
    letter-spacing: 1px;
    color: #444;
    text-shadow: 0px 4px 3px rgba(66, 64, 64, 0.5);
}

.content h1::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 3.5em;
    height: 6px;
    background-color: rgba(233, 85, 81, 1.0);
    top: 2.5em;
}

.loadMore {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
    width: 100%;
}

.loadMore button {
    cursor: pointer;
    padding: 0.7em 2.5em;
    font-size: 1.25em;
    border-radius: 3em;
    border: 3px solid #444;
    color: #444;
    background: linear-gradient(120deg, #ffffff5c,
            #ffffff5c, rgba(233, 85, 81, 1.0), rgba(233, 85, 81, 1.0));
    background-size: 300% 150%;
    transition: all .5s;
}

.loadMore button:hover {
    transition: all 0.3s;
    color: #fff;
    background-position: 100% 100%;

}

footer {
    height: 5em;
}

@media screen and (min-width: 995px) {
    .content {
        max-width: 80%;
        height: auto;
        margin: 0 auto;
        border-radius: 1rem;
    }
}
