.pokemon-card-bg {
    display: flex;
    justify-content: flex-end;
}

.bg-pokeball {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.4em;
    top: 20em;
    right: -2em;
    color: rgba(255, 255, 255, 0.281);
}

.bg-pokeball::before,
.bg-pokeball::after {
    display: block;
    border-radius: 100%;
}

.bg-pokeball::before {
    content: '';
    position: relative;
    width: 10em;
    padding-bottom: 10em;
    border: 4em solid currentColor;
    clip-path: polygon(0 0, 0 40%, 50% 40%, 50% 60%, 0 60%, 0 100%, 100% 100%, 100% 60%, 50% 60%, 50% 40%, 100% 40%, 100% 0);
}

.bg-pokeball::after {
    content: '';
    position: absolute;
    width: 5em;
    padding-bottom: 5em;
    background-color: currentColor;
}